main {
    width: 80%;
    padding-left: 20%;
    background: #fdfffc;
    height: 100%;
}

nav {
    width: 20%;
    height: 100%;
    background: #011627;
    position: fixed;
}

nav ul {
    padding-top: 40%;
    display: inline-block;
    width: 80%;
    margin: auto;
    text-align: center;
}

nav li {
    font-size: 2em;
    line-height: 2.5em;
}

nav a {
    text-decoration: none;
    color: white;
}

.edit_form {
    display: none;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form {
    color:blue;
    display: block;
}

.table_container {
    height: 60vh;
    overflow: auto;
}

table {
    width: 90%;
    margin: auto;
}

th {
    background: #2ec4b6;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th, td {
    padding: 15px;
    text-align: left;
}

td svg {
    padding-right: 20px;
}

#button {
    background: #e71d36;
}

.heading {
    font-size: 3em;
    text-align: center;
}
