main {
    width: 80%;
    padding-left: 20%;
    background: #ecf0f1;
    height: 100%;
    font-family: 'Lora', serif;
}

nav {
    width: 20%;
    height: 100%;
    background: linear-gradient(to bottom, #34495e 0%, #2c3e50 100%);
    position: fixed;
    font-family: 'Montserrat', sans-serif;
}

nav ul {
    padding-top: 40%;
    display: inline-block;
    width: 80%;
    margin: auto;
    text-align: center;
}

nav li {
    font-size: 2em;
    line-height: 2.5em;
}

nav a {
    text-decoration: none;
    color: white;
}

.home_container {
    height: 100vh;
}

.home_small {
    height: 33%;
}

.thing {
    background: linear-gradient(to bottom, #1abc9c 0%, #16a085 100%);
}

.home_checkbook {
    background: linear-gradient(to bottom, #ecf0f1 0%, #acb4b9 100%);
}

.home_cd {
    background: linear-gradient(to bottom, #9b59b6 0%, #8e44ad 100%);
}
.edit_form {
    display: none;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form {
    color:blue;
    display: block;
}

.table_container {
    height: 60vh;
    overflow: auto;
    margin-bottom: 20%;
}

table {
    width: 90%;
    margin: auto;
}

th {
    background: #1abc9c;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

tr:nth-child(even) {
    background-color: #d3dcde;
}

th, td {
    padding: 15px;
    text-align: left;
}

td svg {
    padding-right: 20px;
}

#button {
    background: #e71d36;
}

.heading {
    font-size: 3em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.add_container {
    background-color: white;
    width: 40%;
    margin-left: 20%;
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.add_header {
    font-family: 'Montserrat', sans-serif;
    background: #e74c3c;
    width: 50%;
    margin: auto;
    color: white;
    font-size: 1.3em;
    text-align: center;
    content: "";
    display: table;
    clear: both;
}

.add_header h2 {
    display: inline-block;
    line-height: 1.5em;
}

.add_icon {
    background: #c0392b;
    display: inline-block;
    float: left;
    padding: 5px;
}

form {
    padding-top: 3%;
}

input[type=text] {
    width: 80%;
    font-size: 1em;
    margin: auto;
    padding: 2% 4%;
    display: block;
    border-radius: 4px;
    border: 3px solid #95a5a6;
}

select {
    display: block;
    width: 88%;
    margin: auto;
    font-size: 1em;
}

label {
    display: block;
    margin: 2% 6%;
    font-size: 1.1em;
}

#add_button {
    background: #9b59b6;
    border: solid 3px #8e44ad;
    margin: 3% auto;
    width: 100px;
    height: 40px;
    font-size: 0.9em;
    color: white;
    display: block;
    border-radius: 4px;
}

.dropdown {
    position: relative;
    display: inline-block;
}