{% extends "base.html" %}

{% block content %}
    
    <h1 class="heading">Checkbook</h1>
    <button id="button"><a href="{{ url_for('add') }}">Add New Entry</a></button>

    {% block add %}{% endblock %}

    <div class="edit_form">
        <div id="myModal" class="modal">
            <div class="modal-content">
                <a href="{{ url_for('checkbook') }}" class="close">&times;</a>
            <form method="POST">
                {{ digit }}
            {{ form.csrf_token }}
            {{ form.date.label }} {{ form.date(size=20) }}
            {{ form.number.label }} {{ form.number(size=20) }}
            {{ form.description.label }} {{ form.description(size=20) }}
            {{ form.amount.label }} {{ form.amount(size=20) }}
            {{ form.cleared.label }} {{ form.cleared }}
            {{ form.cleared_date.label }} {{ form.cleared_date }}
            <input type="submit" value="Go">
            </form>
            </div>
        </div>
    </div>

    <form method="POST">
            {{ new_form.csrf_token }}
            {{ new_form.date.label(class="new_form") }} {{ new_form.date(size=20, class="new_form") }}
            {{ new_form.number.label }} {{ new_form.number(size=20) }}
            {{ new_form.description.label }} {{ new_form.description(size=40) }}
            {{ new_form.amount.label }} {{ new_form.amount(size=20) }}
            {{ new_form.cleared.label }} {{ new_form.cleared }}
            {{ new_form.cleared_date.label }} {{ new_form.cleared_date }}
            <input type="submit" value="Done" name="submit">
            <input type="submit" value="Add Another" name="submit">
    </form>

    {% if records %}
    <h3>Current Balance: </h3>{{ book_total.total }}
    <table>
        <tr>
            <th>Date</th>
            <th>Number</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Cleared</th>
            <th></th>
        </tr>
    </table>
    <div class="table_container">
        <table>
{% for item in records %}
<tr>
   <td>{{item.date}}</td>
   <td>{{item.number}}</td>
   <td>{{item.description}}</td>
   {% if item.amount > 0 %}
   <td class="withdrawl">{{item.amount}}</td>
   {% else %}
   <td class="deposit">{{item.amount}}</td>
   {% endif %}
   {% if item.cleared == True %}
   <td><i class="fas fa-check"></i> {{item.cleared_date}}</td>
   {% else %}
   <td><i class="fas fa-hourglass-half"></i> {{item.cleared_date}}</td>
   {% endif %}
   <td><a class="update" href="{{ url_for('checkbook', transaction_id=item.id) }}">Edit</a></td>
</tr>
{% endfor %}
</table>
{% endif %}
</div>
  
{% endblock %}