<!DOCTYPE html>
<html>
    <head>
        <title>Reusable Form Demo</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.rawgit.com/vast-engineering/jquery-popup-overlay/1.7.13/jquery.popupoverlay.js"></script>
        <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css">
    </head>
    
    <h1>Checkbook</h1>
    <a href="#" id="button">Add New Entry</a>
    <div class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form method="POST">
            {{ form.csrf_token }}
            {{ form.date.label }} {{ form.date(size=20) }}
            {{ form.number.label }} {{ form.number(size=20) }}
            {{ form.description.label }} {{ form.description(size=20) }}
            {{ form.amount.label }} {{ form.amount(size=20) }}
            {{ form.cleared.label }} 
            <input type="checkbox" id="cleared_checkbox">
            <label>Date</label>
            {{ form.cleared(id='hole')}}
            <input type="submit" value="Go">
            </form>
        </div>
    </div>
    
  
  <a href="{{ url_for('home') }}">Check out this cool form!</a>
    </body>
    <script src="{{url_for('static', filename='app.js')}}"></script>
</html>