{% extends "base.html" %}

{% block content %}
    
    <h1 class="heading">Checkbook</h1>

    <div class="edit_form">
        <div id="myModal" class="modal">
            <div class="modal-content">
                <a href="{{ url_for('checkbook') }}" class="close">&times;</a>
            <form method="POST">
            {{ form.csrf_token }}
            {{ form.date.label }} {{ form.date(size=20) }}
            {{ form.number.label }} {{ form.number(size=20) }}
            {{ form.description.label }} {{ form.description(size=20) }}
            {{ form.amount.label }} {{ form.amount(size=20) }}
            {{ form.cleared.label }} {{ form.cleared }}
            {{ form.cleared_date.label }} {{ form.cleared_date }}
            <input type="submit" value="Go" id="add_button">
            </form>
            </div>
        </div>
    </div>


  <div class="add_header"><span class="add_icon"><i class="fas fa-plus"></i></span><h2>Add New Entry</h2></div>

<section class="add_container">
    <form method="POST" id="new_form">
            {{ new_form.csrf_token }}
            <span class="input_span">{{ new_form.date.label }} {{ new_form.date }}
            {{ new_form.number.label }} {{ new_form.number }}</span>
            <span class="input_span">{{ new_form.description.label }} {{ new_form.description }}</span>
            <span class="input_span">{{ new_form.amount.label }} {{ new_form.amount }}</span>
            <span class="input_span">{{ new_form.cleared.label }} {{ new_form.cleared }}
            {{ new_form.cleared_date.label }} {{ new_form.cleared_date(id="date_field") }}</span>
            <span><input type="submit" value="Submit" id="add_button"></span>
    </form>
</section>


<section class="table">
    {% if records %}
    <table>
        <tr>
            <th>Date</th>
            <th>Number</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Cleared</th>
            <th></th>
        </tr>
    </table>
    <div class="table_container">
        <table>
{% for item in records %}
<tr>
   <td>{{item.date}}</td>
   <td>{{item.number}}</td>
   <td>{{item.description}}</td>
   {% if item.amount > 0 %}
   <td class="withdrawl">{{item.amount}}</td>
   {% else %}
   <td class="deposit">{{item.amount}}</td>
   {% endif %}
   {% if item.cleared == True %}
   <td><i class="fas fa-check"></i> {{item.cleared_date}}</td>
   {% else %}
   <td><i class="fas fa-hourglass-half"></i> {{item.cleared_date}}</td>
   {% endif %}
   <td><a class="update" href="{{ url_for('checkbook', transaction_id=item.id) }}">Edit</a></td>
</tr>
{% endfor %}
</table>
{% endif %}
</div>
  </section>
{% endblock %}